<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <a href="{% url 'tasks:list' %}" class="btn btn-secondary">Back to List</a>

    <div class="container">
        <h1>{{ task.title }}</h1>
        <p>Description: {{ task.description }}</p>
        <p>Due-Date: {{ task.due_date }}</p>

    </div>
</body>
</html>